MOSAIA_HTTP_API_KEY=
EXA_API_KEY=
SYNAPSE_NETWORK="calibration"
SYNAPSE_PRIVATE_KEY=
POSTGRES_DSN="postgres://filcdn:filcdn123@localhost:5432/filcdn"
PORT=3001
SYNAPSE_RPC_URL="https://api.calibration.node.glif.io/rpc/v1"

# Flow Testnet Credentials for KintaGen Agent

FLOW_TESTNET_ADDRESS="0x4971e1983b20b758"
FLOW_TESTNET_PRIVATE_KEY=
REDIS_URL=redis://127.0.0.1:6379
